@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Nunito Sans", system-ui;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  width: 17rem;
}
img {
  padding: 10px;
  border-radius: 25px;
  width: 17rem;
  margin-bottom: 5px;
}
.card-head {
  display: flex;
  justify-content: center;
}
.heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: hsl(218, 44%, 22%);
}
p {
  font-size: 0.8rem;
  margin-bottom: 10px;
  line-height: 17px;
  color: hsl(216, 15%, 48%);
}

.card-body {
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}
